.ageGradeMain, .altDensMain {
  min-height: 900px;
  background: #FFF;
	border-radius: 0px 16px 0px 0px;
  margin-top: -2px;
  box-shadow: 2px 2px 2px #888888;
  overflow:auto;

}

.ageGradeTitle {
  background-color: rgba(255, 87, 34, 1);
  width: 100%;
  height: 100px;
  border-radius: 0px 16px 0px 0px;
  margin: 0px;
  box-shadow: 1px 2px 2px #888;
}


.densAltTitle {
  background-color: rgba(255, 87, 34, 1);
  width: 100%;
  height: 80px;
  border-radius: 0px 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ageGradeTitle > .page-header, .densAltTitle > .page-header {
  color: #FFF;
  text-align: center;
  border: 0px;
  margin: 0px;
  padding-top: 35px;


}

.fontForText {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
}

.ageGradeTextLeft {
  padding: 15px 15px 15px 15px;
  background-color: rgba(255, 112, 67, 0.8);
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 1px 2px 2px #888;
}

.hideAgeGradeRadio {
  opacity: 0;
}
.stackButton {
  background-image: url('/images/menu24.png');
  height: 24px;
  width: 24px;
  margin: 36px 0px 0px 0px;
}

.stackButton:hover{
  background-image: url('/images/menu24Grey.png');
  height: 24px;
  width: 24px;
}


.ageGradeCalc {
  padding-left: 50px;
}


.socialMedia {
  padding: 35px 0px 0px 250px;
}

#shareText {
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
  padding-right: 10px;
}


/* Calc Style */

.btn-secondary {
  background-color: #ededed;
}

.btn-secondary:active {
  background-color: #51c64f;
  color: #ffffff;
}

.allCalcBtns {
  padding-left: 62px;
}

.calcButton {
    width: 153px;
    height: 40px;
    color: #51c64f;
    border: 1px solid #434343;
    background: #434343;
    border-radius: 5px;
    transition: all .15s cubic-bezier(.27,1,1,.9);
    box-shadow: 2px 2px 2px #888888;

}

.calcButton:hover {
    color: #000000;
    background: #51c64f;
    border: 1px solid #51c64f;
    cursor: pointer;
}

.calcButton:active {
    background: #ffffff;
    border: 1px solid white;
    color: #51c64f;
}

.calcButton:focus, .clearButton:focus, .form-control {
    outline: 0;
}

.clearButton {
    width: 76px;
    height: 40px;
    color: #CC0000;
    border: 1px solid #434343;
    background: #434343;
    margin-top: 5px;
    transition: all .15s cubic-bezier(.27,1,1,.9);
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888;
}

.clearButton:hover {
    color:  #000000;
    background: #CC0000;
    border: 1px solid #CC0000;
    cursor: pointer;
}


.clearButton:active {
    background: #ffffff;
    border: 1px solid white;
    color: #CC0000;
}

.labelTimeFormat {
  margin-left: 5px;
}

.form-control {
  width: 97px;
  box-shadow: 1px 1px 1px #888;
}

.form-control:focus {
  box-shadow: 2px 2px 2px #888;
  border-color: #a0a0a0;
}

.form-control:hover {
  border-color: #a0a0a0;
}

.btn {
  width: 50px;
  font-family: bold;
  font-size: 20px;
}

.inline {
  display: inline-block;
}

.allGenInput {
  margin-top: 10px;
}

.genLabel {
  width: 75px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.genLabel:hover {
  background: #51c64f;
}

.genSelected {
  width: 75px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #51c64f;
}

.inputGender {
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

#genBtnTextM {
  font-size: 13px;
  padding-left: 18px;

}

#genBtnTextF {
  font-size: 13px;
  padding-left: 9px;
}

.justGenBtns {
  visibility: visible;

}












/*

.inputGender {
  opacity: 0;
  width: 1px;
  height: 1px;
  visibility:visible;
}
.genLabel {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 38px;
  height: 36px;
  box-shadow: 1px 1px 1px #888;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  visibility:visible;
  padding-left: 1px;
}

.genSelected {
  border-radius: 5px;
  border: 1px solid #51c64f;
  width: 38px;
  height: 36px;
  box-shadow: 1px 1px 1px #888;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  background-color: #51c64f;
  visibility:visible;
  padding-left: 1px;
}

.genLabel:hover {
  border: 1px solid #51c64f;
  background-color: #51c64f;
}

.genLabel:active {
  border: 1px solid #51c64f;
  background-color: #9cf78a;
}

.genLabel > img {
  padding-top: 2px;
  padding-left: 3px;
}

.genSelected > img {
  padding-top: 2px;
  padding-left: 3px;
}

*/