@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

/* ----------- Logo/Navbar Top Section ----------- */

.mainHeader {
  height: 65px;
  background: #ff7939;
  background: -moz-linear-gradient(left,  #ff7939 0%, #ff7939 67%, #f9b039 100%);
  background: -webkit-linear-gradient(left,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  background: linear-gradient(to right,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7939', endColorstr='#f9b039',GradientType=1 );
  z-index: 2;
}

.runnerLogo {
  background-image: url('/images/runnernumsliorg.png');
  height: 192px;
  width: 192px;
  position: relative;
  z-index: 1;
  left: 20%;
  top: 40px;
}

#main{
    display:block;
    width:100%;
    padding:50px;
    background: #FFF;
    position: absolute;
    z-index: 1;
}

.siteTitle {
  font-family: "Open Sans Condensed";
  font-size: 50px;
  color: #FFF;
  position: relative;
  z-index: 2;
  left: 20%;
}

.siteTitleContainer {
  height: 150px;

}

/* Main container that the main.html is routed into */
.mainForm {
  margin-top: 63px;
} 

/* ----------- General/Bootstrap Classes Style ----------- */

/* Clearing margin and padding for all */
* {
  padding:0;
  margin:0;
}

/*  Font class for various text in the widget  */
.fontForText {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  visibility:visible;
}

/* Editing bootstrap default form */
.form-control {
  width: 153px;
  height: 40px;
  box-shadow: -1px 1px 3px 0.5px #888;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.form-control:focus {
  box-shadow: -1px 1px 3px 1.5px #888;
  outline: 0;
  border-color: #a0a0a0;
}

.form-control:hover {
  border-color: #a0a0a0;
}

/* Editing bootstrap container */
.container {
  position:relative;
}

/* Editing bootstrap container-fluid */
.container-fluid {
  width: 100%;
  height: 800px; 
  position:relative;
  background-color: rgba(255, 204, 188, 1);
  box-shadow: 0px 0px 1px #888;

}

/* General class added to sections to set inline */
.inline {
  display: inline-block;
}

/* General class added to forms for red error border */
.formErr, .formErr:active, .formErr:focus {
  border-color: #CC0000;
  transition: all .1s cubic-bezier(.27,1,1,.9);
}



/* ----------- Container Style ----------- */

.calcInstructions {
  border-bottom: 1px solid black;

}


/*  Main container for calc widget  */
.calcMain {
  min-height: 900px;
  background-color: #e0e0e0;
	border-radius: 0px 16px 0px 0px;
  margin-top: -2px;
  box-shadow: -1px 1px 3px 0.5px #888;
  position: absolute;
  z-index: 2;
  overflow: auto;

}

/*  The container that includes both the calc & and the output sections  */
.calcWithOutput {
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  margin-top: -1px;
  padding: 5px;
  border-radius: 10px;
  height: 420px;
  position: relative;
  z-index: 1;
}

/*  Just the calc widget section  */
.buttonCalc {
  padding-left: 50px;
  
}


/* ----------- Paragraph Text Style ----------- */


/*  Paragraph of text in the age grade section  */
.calcTextLeft {
  padding: 15px 15px 15px 15px;
  color: rgba(0, 0, 0, 0.87);
  z-index: 0;
}

/*  Hides the radio button that controls the text animation  */
.hideCalcRadio {
  opacity: 0;
}


/*  Label for the radio button for text animation */
.stackButton {
  background-image: url('/images/menu24Grey.png');
  height: 24px;
  width: 24px;
  margin: 36px 0px 0px 0px;
}

.stackButton:hover{
  background-image: url('/images/menu24f.png');
  height: 24px;
  width: 24px;
}


/* ----------- Title Banner Style ----------- */


/*  Title banner for the main container  */
.calcTitle {
  background: #ff7939;
  background: -moz-linear-gradient(left,  #ff7939 0%, #ff7939 67%, #f9b039 100%);
  background: -webkit-linear-gradient(left,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  background: linear-gradient(to right,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7939', endColorstr='#f9b039',GradientType=1 );
  height: 100px;
  border-radius: 0px 12px 0px 0px;
  position: relative;
  z-index: 2;
  bottom: 2px;
  box-shadow: -1px 1px 3px 0.5px #888;
}

/*  Title banner for the density altitude container  */
.densAltTitle {
  background-color: rgba(255, 87, 34, 1);
  width: 100%;
  height: 80px;
  border-radius: 0px 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*  Text inside agegradetitle  */
.calcTitle > .page-header {
  color: #FFF;
  text-align: center;
  border: 0px;
  margin: 0px;
  padding-top: 35px;
}

/*  Social media links section  */
.socialMedia {
  padding: 35px 0px 0px 250px;
}

/*  Text for the social media   */
#shareText {
  color: #000;
  text-decoration: none;
  font-size: 12px;
  padding-right: 10px;
}


/* ----------- Tab Style ----------- */


/* Container for all the tabs in agegrademain */
.tabRow {
  list-style: none;
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: hidden;
  font-size: 12px;
  position: relative;
}

/* Class for the unselected/default tabs */
.tabRowLi {
  background-color: rgba(255, 87, 34, 0.6);
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 1;
  border: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-left: -2px;
  padding: 0 35px 1px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
}

.tabRowLi:hover {
  background-color: #FF7939;
}

/* Selected class for the tabs added by ng-class when user selects a tab */
.selected {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  position:relative;
  border:0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
  margin-left: -5px;
  padding: 0 35px 1px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  background: #FF7939;
  color: #FFF;
  z-index: 2;
}


.tabRow:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.tabText {
  color: #FFF;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
}


/* ----------- Calc Style ----------- */

/* Positioning for the calc and clear btns  */
.allCalcBtns {
  position: relative;
  left: 100px;
}


/* Button used to calculate age grade */
.calcButton {
  width: 70%;
  height: 50px;
  color: #8eceff;
  border: 1px solid #434343;
  background: #434343;
  border-radius: 5px;
  margin-top: 5px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  box-shadow: -1px 1px 5px 1px #888;
  position: relative;
  z-index: 1;

}

.calcButton:hover {
    color: #000000;
    background: #8eceff; /* #51c64f */
    border: 1px solid #8eceff;
    cursor: pointer;
}

.calcButton:active {
    background: #ffffff;
    border: 1px solid white;
    color: #8eceff;
}

.calcButton:focus, .clearButton:focus, .form-control {
    outline: 0;
}

/* Span that covers the area around the calc btn.
  Used for updating whether the btn can be clicked or not */
.calcBtnHoverSpan {
  width: 250px;
  height: 62px;
  margin: 1px 0px 0px -22px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  z-index: 0;
}

/* Button that clears the calc forms and output */
.clearButton {
    width: 118px;
    height: 35px;
    color: #CC0000;
    border: 1px solid #434343;
    background: #434343;
    margin-top: 8px;
    margin-bottom: 15px;
    transition: all .15s cubic-bezier(.27,1,1,.9);
    border-radius: 5px;
    box-shadow: -1px 1px 5px 1px #888;
    position: relative;
}

.clearButton:hover {
    color:  #000000;
    background: #CC0000;
    border: 1px solid #CC0000;
    cursor: pointer;
}


.clearButton:active {
    background: #ffffff;
    border: 1px solid white;
    color: #CC0000;
}

/* Label for the format needed for time input */
.labelTimeFormat {
  margin-left: 5px;
}

/* Sizing of each individual time input */
.inputTime {
  width: 70px;
  visibility:visible;
}

/* Sizing of age input */
.inputFormTop {
  width: 70px;
}

.distUnits {
  position: relative;
  left: 80px;
  width: 72px;
}

.sizeDist {
  width: 70px;
}

.orText {
  position: relative;
  left: 36px;
}

.moveDistUnits {
  position: relative;
  left: 72px;
}

/* Positioning of age input */
.moveAge {
  position: relative;
  left: 63px;
}

.movePace {
  position: relative;
  left: 56px;

}

/* Positioning of Distance input */
.move2 {
  position: relative;
  left: 27px;
  
}

/* Section that contains the gender buttons */
.allGenInput {
  margin-top: 10px;
}

/* Label for the the gender selection btns */
.genLabel {
  width: 70px;
  height: 35px;
  border: 1px solid #ccc;
  box-shadow: -1px 1px 3px 0.5px #888;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-right: 3px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
}

.genLabel:hover {
  background: #8eceff;
  box-shadow: 0px 0px 0px;
}

/* Class added by ng-class to indicate selected gen btn */
.genSelected {
  width: 70px;
  height: 35px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 0px;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-right: 3px;
  background: #8eceff;
  transition: all .15s cubic-bezier(.27,1,1,.9);
}

/* Gender radio btns that the above are labels for */
.inputGender {
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

/* Section of the gen btns that doesn't include the error span */
.justGenBtns {
  position: relative;
  visibility: visible;
}

.justGenBtns > span {
  width: 100%;
}

/* Text for the female label b/c it's longer than male */
.femaleLabel {
  position: relative;
  left: 9px;
}

/* ----------- Output Style ----------- */

/* Text for the output section */
.outputText {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 20px;
  text-align: center;

}

/* Top output section text */
.outputText1 {
  padding-top: 40px;
}

/* Bottom output section text */
.outputText2 {
  padding-top: 55px;
}

/* Inset output section  */
.outputColumn {
  background-color: #c6dcf2;
  -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  border-radius: 10px;

}

.outputMargin {
  margin-top: 12%;
}

/* Container for whole output section */
.outputCalc {
  padding-bottom: 50px;

}

/* Text inside the output section that labels the output numbers */
.outputInfo {
  text-align: center;
}

/* Text for the output data */
.outputData {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 24px;
}


/* Output sections inside the output column that display output numbers */
.outputContainer {
  position: relative;
  margin-top: 25px;
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 9px -4px rgba(0,0,0,0.68);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 75px;
  width: 50%;
  left: 25%;

}

/* ----------- Error Handling Style ----------- */

/* Invisible version of time error div swapped out by by ng-class 
  Protects against margin/padding problems -- 
  Needs to be b4 the visible one in css or doesnt work?*/
.inputTimeErrInvis {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  left: 54px;
  padding: 13px 0px 12px 0px;
  border-radius: 5px;
  border: 1px solid #CC0000;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  visibility:collapse;
}

/* Visible version of the time error div shown by ng-class */
.inputTimeErr {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  left: 54px;
  padding: 13px 0px 12px 0px;
  padding-right: 0px;
  border-radius: 5px;
  border: 1px solid #CC0000;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  visibility:visible;
}

/* Making everything inside inputtimeerr visible */
.inputTimeErr > input, .inputTimeErrInvis > input {
  visibility:visible;
}



/* Invisible version of time error div swapped out by by ng-class 
  Protects against margin/padding problems -- 
  Needs to be b4 the visible one in css or doesnt work?*/
.inputFormTopErrInvis {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  padding: 13px 0px 12px 0px;
  border-radius: 5px;
  border: 1px solid #CC0000;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  visibility:collapse;
}

/* Visible version of the time error div shown by ng-class */
.inputFormTopErr {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  padding: 13px 0px 12px 0px;
  padding-right: 0px;
  border-radius: 5px;
  border: 1px solid #CC0000;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  visibility:visible;
}

/* Making everything inside inputtimeerr visible */
.inputFormTopErrInvis > input, .inputFormTopErr > input {
  visibility:visible;
}

/* Font for input text */
.betweenInputTxt {

  font-family: "Helvetica";
  font-weight: 500;
  font-size: 18px;
  visibility:visible;

}

/* Visible version of the gender err div shown by ng-class */
.genCheckErr {
  position: relative;
  left: 35px;
  border: 1px solid #CC0000;
  border-radius: 5px;
  padding: 11px 10px 10px 0px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  visibility: visible;
}

/* Invisible version of age error div swapped out by by ng-class 
  Protects against margin/padding problems */
.genCheckErrInvis {
  position: relative;
  left: 35px;
  border: 1px solid #CC0000;
  border-radius: 5px;
  padding: 11px 10px 10px 0px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  visibility: collapse;
}

/* Error div that fades in when any forms are missing data */
.errWarning {
  position: relative;
  left: 85px;
  width: 75%;
  height: 60px;
  background: #ffa0a0;
  text-align: center;
  box-shadow: -2px 2px 7px 2px #888;
  border-radius: 10px;
  visibility: visible;
}

.errWarning > div {
  padding-top: 8px;

}

.errWarningInvis {
  position: relative;
  left: 85px;
  width: 75%;
  height: 60px;
  background: #ffa0a0;
  text-align: center;
  box-shadow: -2px 2px 7px 2px #888;
  border-radius: 10px;
  visibility: collapse; 

}

/* ---------- Sections below the calc ---------- */

.dataAnalysis {
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  height: 378px;
  margin-top: 20px;
  border-radius: 10px;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .ageGradeTitle {
      height: 150px;
    }

    body {
      background-color: #ccc;
    }
}