.ageGradeMain, .altDensMain {
  min-height: 900px;
  background-color: #e0e0e0;
	border-radius: 0px 16px 0px 0px;
  margin-top: -2px;
  box-shadow: -1px 1px 3px 0.5px #888;
  overflow:auto;

}

.ageGradeTitle {
  background-color: rgba(255, 87, 34, 1);
  width: 100%;
  height: 100px;
  border-radius: 0px 16px 0px 0px;
  margin: 0px;
  box-shadow: -1px 1px 3px 0.5px #888;
  z-index: 1;
}


.densAltTitle {
  background-color: rgba(255, 87, 34, 1);
  width: 100%;
  height: 80px;
  border-radius: 0px 16px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ageGradeTitle > .page-header, .densAltTitle > .page-header {
  color: #FFF;
  text-align: center;
  border: 0px;
  margin: 0px;
  padding-top: 35px;
}

.fontForText {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
}

.calcWithOutput {
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  margin-top: 20px;
  padding: 5px;


}

.ageGradeTextLeft {
  padding: 15px 15px 15px 15px;
  color: rgba(0, 0, 0, 0.87);
  /*
  -webkit-box-shadow: inset 0px 0px 38px -2px rgba(0,0,0,0.51);
  -moz-box-shadow: inset 0px 0px 38px -2px rgba(0,0,0,0.51);
  box-shadow: inset 0px 0px 38px -2px rgba(0,0,0,0.51);
  */
  z-index: 0;
}

.hideAgeGradeRadio {
  opacity: 0;
}
.stackButton {
  background-image: url('/images/menu24.png');
  height: 24px;
  width: 24px;
  margin: 36px 0px 0px 0px;
}

.stackButton:hover{
  background-image: url('/images/menu24Grey.png');
  height: 24px;
  width: 24px;
}


.ageGradeCalc {
  padding-left: 50px;
  height: 368px;
}


.socialMedia {
  padding: 35px 0px 0px 250px;
}

#shareText {
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
  padding-right: 10px;
}


/* Calc Style */

.btn-secondary {
  background-color: #ededed;
}

.btn-secondary:active {
  background-color: #51c64f;
  color: #ffffff;
}

.allCalcBtns {
  padding-left: 62px;
}

.calcButton {
    width: 153px;
    height: 40px;
    color: #51c64f;
    border: 1px solid #434343;
    background: #434343;
    border-radius: 5px;
    margin-top: 5px;
    transition: all .15s cubic-bezier(.27,1,1,.9);
    box-shadow: -1px 1px 5px 1px #888;
    position: relative;
    z-index: 1;

}

.calcButton:hover {
    color: #000000;
    background: #51c64f;
    border: 1px solid #51c64f;
    cursor: pointer;
}

.calcButton:active {
    background: #ffffff;
    border: 1px solid white;
    color: #51c64f;
}

.calcButton:focus, .clearButton:focus, .form-control {
    outline: 0;
}

.calcBtnHoverSpan {
  width: 165px;
  height: 55px;
  margin: -5px 0px 0px -20px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  z-index: 0;
}

.clearButton {
    width: 76px;
    height: 40px;
    color: #CC0000;
    border: 1px solid #434343;
    background: #434343;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: all .15s cubic-bezier(.27,1,1,.9);
    border-radius: 5px;
    box-shadow: -1px 1px 5px 1px #888;
    position: relative;
}

.clearButton:hover {
    color:  #000000;
    background: #CC0000;
    border: 1px solid #CC0000;
    cursor: pointer;
}


.clearButton:active {
    background: #ffffff;
    border: 1px solid white;
    color: #CC0000;
}

.labelTimeFormat {
  margin-left: 5px;
}

.form-control {
  width: 97px;
  box-shadow: -1px 1px 3px 0.5px #888;
}

.form-control:focus {
  box-shadow: -1px 1px 3px 1.5px #888;
  outline: 0;
  border-color: #a0a0a0;
}

.form-control:hover {
  border-color: #a0a0a0;
}

.btn {
  width: 50px;
  font-family: bold;
  font-size: 20px;
}

.inline {
  display: inline-block;
}

.allGenInput {
  margin-top: 10px;
}

.genLabel {
  width: 58px;
  height: 25px;
  border: 1px solid #ccc;
  box-shadow: -1px 1px 3px 0.5px #888;
  border-radius: 5px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
}

.genLabel:hover {
  background: #51c64f;
  box-shadow: 0px 0px 0px;
}

.genSelected {
  width: 58px;
  height: 25px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 0px;
  border-radius: 5px;
  background: #51c64f;
}

.inputGender {
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

#genBtnTextM {
  font-size: 13px;
  padding-left: 9px;

}

#genBtnTextF {
  font-size: 13px;
  padding-left: 2px;
}

.justGenBtns {
  visibility: visible;

}


.outputText {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 20px;
  text-align: center;

}

#outputText1 {
  padding-top: 25px;
}

#outputText2 {
  
  padding-top: 45px;

}

.outputColumn {
  background-color: rgba(96,125,139,0.3);
  -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  /*
  box-shadow: -1px 1px 3px 0.5px #888;
  */

}

.outputAgeGrade {
  height: 367px;


}

.outputInfo {
  text-align: center;

}

.outputData {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 24px;
}

.outputContainer {
  position: relative;
  margin-top: 15px;
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 9px -4px rgba(0,0,0,0.68);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 75px;
  width: 50%;
  left: 25%;

}

.dataAnalysis {
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  height: 378px;
  margin-top: 20px;
}










/*

.inputGender {
  opacity: 0;
  width: 1px;
  height: 1px;
  visibility:visible;
}
.genLabel {
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 38px;
  height: 36px;
  box-shadow: 1px 1px 1px #888;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  visibility:visible;
  padding-left: 1px;
}

.genSelected {
  border-radius: 5px;
  border: 1px solid #51c64f;
  width: 38px;
  height: 36px;
  box-shadow: 1px 1px 1px #888;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  background-color: #51c64f;
  visibility:visible;
  padding-left: 1px;
}

.genLabel:hover {
  border: 1px solid #51c64f;
  background-color: #51c64f;
}

.genLabel:active {
  border: 1px solid #51c64f;
  background-color: #9cf78a;
}

.genLabel > img {
  padding-top: 2px;
  padding-left: 3px;
}

.genSelected > img {
  padding-top: 2px;
  padding-left: 3px;
}

*/