

#inputAge {
	width: 42px;
}

#inputTime1, #inputTime2, #inputTime3 {
	width: 42px;
  	visibility:visible;
}

.formErr, .formErr:active, .formErr:focus {
	border-color: #CC0000;
}



.inputTimeErrInvis {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;
	margin-left: 0px;
	margin-top: -30px;
	padding: 9px 0px 10px 0px;
	border-radius: 5px;
	border: 1px solid #CC0000;
	visibility:collapse;

}

.yo {
	border: 1px solid #cc0000;
}

.inputTimeErr {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;
	margin-left: 0px;
	margin-top: -30px;
	padding: 9px 0px 10px 0px;
	padding-right: 0px;
	border-radius: 5px;
	border: 1px solid #CC0000;
	visibility:visible;
}


.inputTimeErr > input, .inputTimeErrInvis > input {
	visibility:visible;
}

.inputTimeErr > span, .inputTimeErrInvis > span {
	font-family: "Helvetica";
  	font-weight: 500;
  	font-size: 18px;
	visibility:visible;

}

.genCheckErr {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	width: 83px;
	height: 39px;
	z-index: 1;
	border-radius: 5px;
	border: 1px solid #CC0000;
	visibility: visible;


}

.genCheckErrInvis {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	width: 83px;
	height: 39px;
	z-index: 1;
	border-radius: 5px;
	border: 1px solid #CC0000;
	visibility: collapse;
}