

#inputAge {
	width: 42px;
}

#inputTime1, #inputTime2, #inputTime3 {
	width: 42px;
  	visibility:visible;
}

#inputTime3 {
	margin-right: -3px;
}

.formErr, .formErr:active, .formErr:focus {
	border-color: #CC0000;
	transition: all .1s cubic-bezier(.27,1,1,.9);
}



.inputTimeErrInvis {

	position: relative;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;
	margin-left: 16px;
	margin-top: -30px;
	padding: 9px 0px 10px 0px;
	border-radius: 5px;
	border: 1px solid #CC0000;
	transition: all .15s cubic-bezier(.27,1,1,.9);
	visibility:collapse;

}

.inputTimeErr {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	z-index: 1;
	margin-left: 16px;
	margin-top: -30px;
	padding: 9px 0px 10px 0px;
	padding-right: 0px;
	border-radius: 5px;
	border: 1px solid #CC0000;
	transition: all .15s cubic-bezier(.27,1,1,.9);
	visibility:visible;
}


.inputTimeErr > input, .inputTimeErrInvis > input {
	visibility:visible;
}

.inputTimeErr > span, .inputTimeErrInvis > span {
	font-family: "Helvetica";
  	font-weight: 500;
  	font-size: 18px;
	visibility:visible;

}

.genCheckErr {
	margin-left: -1px;
  	border: 1px solid #CC0000;
  	border-radius: 5px;
  	padding: 3px 0px 7px 0px;
  	transition: all .15s cubic-bezier(.27,1,1,.9);
	visibility: visible;


}

.genCheckErrInvis {
	margin-left: -1px;
  	border: 1px solid #CC0000;
  	border-radius: 5px;
  	padding: 3px 0px 7px 0px;
  	transition: all .15s cubic-bezier(.27,1,1,.9);
	visibility: collapse;
}

.errWarning {
	padding-top: 7px;
	margin-bottom: 25px;
	width: 280px;
	height: 60px;
	background: #ffa0a0;
	text-align: center;
	box-shadow: -2px 2px 7px 2px #888;
}