

#inputAge {
	width: 42px;
}

.formErr {
	border-color: #CC0000;
}

#inputTimeErr {
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	width: 158px;
	height: 38px;
	z-index: 1;
	margin-left: 59px;
	margin-top: -30px;
	border-radius: 5px;
	border: 1px solid #CC0000;
}

#inputTimeErr > input, #inputTimeErr > span {
	margin-left: 1px;
	margin-top: 0.5px;

}