.calcTitle {
	bottom: 4px;
}

.calcOutputAgeHeight {
	height: 383px;
	top: 5px;
}

.calcInfoAgeHeight {
	height: 465px;
}

.calcInfoPaceHeight {
	height: 355px;

}

.calcInfoTitleAge {
	left: 39%
}

.calcInfoTitlePace {
	left: 43%;
}

.calcInfoTitleBMI {
	left: 42%;
}

.BMItable {
	left: 40%;
}