@import url(http://fonts.googleapis.com/css?family=Open+Sans);


* {
	padding:0;
	margin:0;
}

body {
	background-color: #FFF;

}

h3 {
  background-color: #bfbfbf;
  border-right: 2px double black;
  list-style-type: none;
  color: #FFF;
  font-family: "Open Sans";
}

.header {
  
}

.navbar-default {
  box-shadow: 0px 0px 1px #888;
  background-color: rgba(255, 204, 188, 1);
  width: 380px;
}

.container {
  position:relative;
}

.container-fluid {
  width: 100%;
  height: 800px; 
  position:relative;
  background-color: rgba(255, 204, 188, 1);
  box-shadow: 0px 0px 1px #888;

}

.mainForm {
  margin-top: 10px;
}
.navbar {
  background-color: #FFF;
  border: 0px;

}

.tabRow {
  list-style: none;
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: hidden;
  font-size: 12px;
  position: relative;
}


.tabRowLi {
  background-color: rgba(255, 87, 34, 0.5);
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  position:relative;
  z-index: 0;
  border: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-left: -5px;
  padding: 0 35px 1px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
}

.tabRowLi:hover {
  background-color: rgba(230, 74, 25, 0.7);
}

#ageGradeTab {
	margin-left: 0px;
}

.selected {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  position:relative;
  border:0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
  margin-left: -5px;
  padding: 0 35px 1px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  background: rgba(255, 87, 34, 1);
  color: #FFF;
  z-index: 2;
}


.tabRow:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* -------------------------- */


.nav-tabs {
	border-bottom: 0px;
}

.tabText {
	color: #FFF;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
}

#move1 {
  position: relative;
  left: 128px;
}

#move2 {
  position: relative;
  left: 115px;
	
}




