@import url(http://fonts.googleapis.com/css?family=Open+Sans);


/* Clearing margin and padding for all */
* {
	padding:0;
	margin:0;
}

/* Nav bar at top of page */
.navbar-default {
  box-shadow: 0px 0px 1px #888;
  background-color: rgba(255, 204, 188, 1);
  width: 380px;
}

.navbar {
  background-color: #FFF;
  border: 0px;

}

/* Editing bootstrap container */
.container {
  position:relative;
}

/* Editing bootstrap container-fluid */
.container-fluid {
  width: 100%;
  height: 800px; 
  position:relative;
  background-color: rgba(255, 204, 188, 1);
  box-shadow: 0px 0px 1px #888;

}

/* Main container that the main.html is routed into */
.mainForm {
  margin-top: 10px;
}

/* Container for all the tabs in agegrademain */
.tabRow {
  list-style: none;
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: hidden;
  font-size: 12px;
  position: relative;
}

/* Class for the unselected/default tabs */
.tabRowLi {
  background-color: rgba(255, 87, 34, 0.5);
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  position:relative;
  z-index: 1;
  border: 0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  margin-left: -5px;
  padding: 0 35px 1px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
}

.tabRowLi:hover {
  background-color: rgba(230, 74, 25, 0.7);
}

#ageGradeTab {
	margin-left: 0px;
}

/* Selected class for the tabs added by ng-click when user selects a tab */
.selected {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
  display: inline-block;
  position:relative;
  border:0px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.4);
  margin-left: -5px;
  padding: 0 35px 1px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  background: rgba(255, 87, 34, 1);
  color: #FFF;
  z-index: 2;
}


.tabRow:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}




/* -------------------------- */


.nav-tabs {
	border-bottom: 0px;
}

.tabText {
	color: #FFF;
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	font-family: "Open Sans";
  font-weight: 300;
  font-size: 12px;
}

#move1 {
  position: relative;
  left: 63px;
}

#move2 {
  position: relative;
  left: 27px;
	
}




