.calcTitle {
  bottom: 6px;
}

.calcWithOutputPace {
  height: 785px;
}

.calcWithOutputAge {
  height: 1015px;
}

.calcWithOutputBMI {

  height: 765px;

}

.outputMarginPace {
  margin-top: 350px;
}

.outputMarginAge {
  margin-top: 58%;
}

.container-fluid {
	padding-left: 0px;
}

.tabRowLi {
  width: 20%;
  height: 50px;
}

.tabRowLiSelect {
  width: 20%;
}

.tabText {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.ageGradeTabTxt {
  left: -12%;
}


.calcInfoAgeHeight {
  height: 530px;
}

.calcInfoPaceHeight {
  height: 375px;

}

.calcInfoBMIHeight {
  
  height: 450px;
}

.calcInfoTitleAge {
  left: 35%
}

.calcInfoTitlePace {
  left: 41%;
}

.calcInfoTitleBMI {
  left: 38%;
}

.BMItable {
  left: 35%;
}

.disableAdBlockTxt {
  font-size: 24px;

}



