@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

/* ----------- Logo/Navbar Top Section ----------- */

.mainHeader {
  height: 65px;
  background: #ff7939;
  background: -moz-linear-gradient(left,  #ff7939 0%, #ff7939 67%, #f9b039 100%);
  background: -webkit-linear-gradient(left,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  background: linear-gradient(to right,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7939', endColorstr='#f9b039',GradientType=1 );
  z-index: 2;
}


.runnerLogo {
  background-image: url('/images/runnerLogoWhite1.png');
  height: 132px;
  width: 162px;
  position: relative;
  z-index: 1;
}

.siteTitle {
  font-family: "Open Sans Condensed";
  font-size: 50px;
  color: #FFF;
  position: relative;
  z-index: 2;
  left: 20%;
}

.siteTitle:hover, .siteTitle:focus {
  text-decoration:none;
  color: #FFF;
}

.siteTitleContainer {
  position: relative;
  background: #ff7939;
  border-radius: 5px;
  width: 200px;
  height: 197px;
  left: 22%;
  top: 70px;
  z-index: 1;

}

/* Main container that the templates are routed into */
.mainForm {
  position: relative;
  z-index: 0;
} 

/* ----------- General/Bootstrap Classes Style ----------- */

/* Clearing margin and padding for all */
* {
  padding:0;
  margin:0;
}

.loading {
  width: 50px;
  height: 50px;
  border: 5px solid #FFF;
  border-top-color: #ff0000;
  border-radius: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 4;
  animation: round 1s linear infinite;
}

@keyframes round {
  from {transform: rotate (0deg)}
  to {transform: rotate(360deg)}
}

.loadingScreen {
  width: 100%;
  height: 400%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #ff7939;
  z-index: 3;

}

/*  Font class for various text in the widget  */
.fontForText {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  visibility:visible;
}

/* Editing bootstrap default form */
.form-control {
  width: 151px;
  height: 40px;
  box-shadow: -1px 1px 3px 0.5px #888;
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.form-control:focus {
  box-shadow: -1px 1px 3px 1.5px #888;
  outline: 0;
  border-color: #a0a0a0;
}

.form-control:hover {
  border-color: #a0a0a0;
}

/* Editing bootstrap container */
.container {
  position:relative;
}

/* Editing bootstrap container-fluid */
.container-fluid {
  width: 100%;
  position:relative;
  background-image: url("/images/seamlessRoad2.png");
  background-color: rgba(255, 204, 188, 1);
  box-shadow: 0px 0px 1px #888;
  padding: 0px;
  margin-top: -135px;

}

/* General class added to sections to set inline */
.inline {
  display: inline-block;
}

/* General class added to forms for red error border */
.formErr, .formErr:active, .formErr:focus {
  border-color: #CC0000;
  transition: all .1s cubic-bezier(.27,1,1,.9);
}

.hideElement {
  display: none;
}


/* ----------- Container Style ----------- */

.calcInstructions {
  border-bottom: 1px solid black;
}

/*  Main container for calc widget  */
.calcMain {
  min-height: 900px;
  background-color: #e0e0e0;
	border-radius: 0px 16px 0px 0px;
  margin-top: -2px;
  box-shadow: -1px 1px 3px 0.5px #888;
  position: absolute;
  z-index: 2;
  overflow: auto;

}

/*  The container that includes both the calc & and the output sections  */
.calcWithOutputPace {
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  top: -5px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  height: 100%;
  position: relative;
  z-index: 1;
}

.calcWithOutputAge {
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  top: -5px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  height: 100%;
  position: relative;
  z-index: 1;
}

.calcWithOutputBMI {
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  top: -5px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  height: 450px;
  position: relative;
  z-index: 1;
}

/*  Just the calc widget section  */
.buttonCalc {
  padding-left: 50px;
  padding-bottom: 20px;
  
}

/* ----------- Paragraph Text Style ----------- */


/*  Paragraph of text in the age grade section  */
.calcTextLeft {
  padding: 15px 15px 15px 15px;
  color: rgba(0, 0, 0, 0.87);
  z-index: 0;
}

/*  Hides the radio button that controls the text animation  */
.hideCalcRadio {
  opacity: 0;
}

/* ----------- Title Banner Style ----------- */


/*  Title banner for the main container  */
.calcTitle {
  background: #ff7939;
  background: -moz-linear-gradient(left,  #ff7939 0%, #ff7939 67%, #f9b039 100%);
  background: -webkit-linear-gradient(left,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  background: linear-gradient(to right,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7939', endColorstr='#f9b039',GradientType=1 );
  height: 100px;
  border-radius: 0px 4px 0px 0px;
  position: relative;
  z-index: 2;
  bottom: 4px;
  box-shadow: -1px 1px 3px 0px #888;
}


/*  Text inside agegradetitle  */
.calcTitle > .page-header {
  color: #FFF;
  text-align: center;
  border: 0px;
  margin: 0px;
  position: relative;
  top: 35px;
  right: 12px;
}

/* ----------- Tab Style ----------- */


/* Container for all the tabs */
.tabRow {
  background-color: #fff;
  position: relative;
  z-index: 3;
  width: 607px;
  height: 215px;
  left: 30%;
  padding-left: 2px;
  border-radius: 8px;

  /*
  list-style: none;
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: hidden;
  font-size: 12px;
  position: relative;
  z-index: 3;
  */
}

/* Class for the unselected/default tabs */
.tabRowLi {
  background-color: #c6dcf2;
  color: black;
  z-index: 2;
  position: relative;
  display: inline-block;
  height: 209px;
  width: 200px;
  text-align: center;
  margin-right: -2px;
  border-top: 1px solid rgba(0,0,0,0);
  border-bottom: 1px solid rgba(0,0,0,0);
  border-radius: 3px;
  transition: background-color .5s cubic-bezier(.18,1,.31,.77);
  -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  
}

.tabRowLiSelect {
  background-color: #ff7939;
  color: white;
  z-index: 2;
  position: relative;
  display: inline-block;
  height: 209px;
  width: 200px;
  text-align: center;
  margin-right: -2px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 3px;
  transition: background-color .5s cubic-bezier(.18,1,.31,.77);
  -webkit-box-shadow: -4px 3px 0px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 0px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 0px -4px rgba(0,0,0,0.68);
}

.tabRowLiSelect-add-active, .tabRowLiSelect-remove-active, .tabRowLi-add-active, .tabRowLi-remove-active {
  transition: all .5s cubic-bezier(.18,1,.31,.77);

}

.tabRowLi:hover, .tabRowLi:focus, .tabRowLiSelect:hover, .tabRowLiSelect:active, .tabRowLiSelect:focus{
  background-color: #FF7939;
  color: white;
  text-decoration: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-box-shadow: -4px 3px 0px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 0px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 0px -4px rgba(0,0,0,0.68);
}

.tabRow:before {
  /*
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  */
}

.tabText {
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 18px;
  position: relative;
  top: 60px;

}

.tabText:hover {
  text-decoration: none;
}


/* ----------- Calc Style ----------- */

/* Positioning for the calc and clear btns  */
.allCalcBtns {
  position: relative;
  left: 80px;
  top: 5px;
}


/* Button used to calculate age grade */
.calcButton {
  width: 70%;
  height: 50px;
  color: #8eceff;
  border: 1px solid #434343;
  background: #434343;
  border-radius: 5px;
  margin-top: 10px;
  transition: all .15s cubic-bezier(.27,1,1,.9);
  box-shadow: -1px 1px 5px 1px #888;
  position: relative;
  z-index: 1;

}

.calcButton:hover {
    color: #000000;
    background: #8eceff; /* #51c64f */
    border: 1px solid #8eceff;
    cursor: pointer;
}

.calcButton:active {
    background: #ffffff;
    border: 1px solid white;
    color: #8eceff;
}

.calcButton:focus, .clearButton:focus, .form-control {
    outline: 0;
}

/* Span that covers the area around the calc btn.
  Used for updating whether the btn can be clicked or not */
.calcBtnHoverSpan {
  width: 250px;
  height: 62px;
  margin: 1px 0px 0px -22px;
  background-color: rgba(0,0,0,0);
  position: absolute;
  z-index: 0;
}

/* Button that clears the calc forms and output */
.clearButton {
    width: 118px;
    height: 35px;
    color: #CC0000;
    border: 1px solid #434343;
    background: #434343;
    margin-top: 8px;
    margin-bottom: 15px;
    transition: all .15s cubic-bezier(.27,1,1,.9);
    border-radius: 5px;
    box-shadow: -1px 1px 5px 1px #888;
    position: relative;
}

.clearButton:hover {
    color:  #000000;
    background: #CC0000;
    border: 1px solid #CC0000;
    cursor: pointer;
}


.clearButton:active {
    background: #ffffff;
    border: 1px solid white;
    color: #CC0000;
}

/* Label for the format needed for time input */
.labelTimeFormat {
  margin-left: 55px;
}

/* Sizing of each individual time input */
.inputTime {
  width: 70px;
  margin-right: -3px;
  visibility:visible;
}
.timeInfoLabel {
  position: relative;
  left: 5px;
}

/* Sizing of age input */
.inputFormTop {
  width: 70px;
  margin-right: -2px;
}

.sizeDist {
  width: 70px;
}

.orText {
  position: relative;
  left: 33px;
}

.distUnits {
  position: relative;
  left: 72px;
  width: 72px;
}

.moveDistUnits {
  position: relative;
  left: 67px;
}

/* Positioning of age input */
.moveAge {
  position: relative;
  left: 61px;
}

.movePace {
  position: relative;
  left: 53px;

}

.moveHeight1 {
  position: relative;
  left: 35px;

}

.moveHeight2 {
  position: relative;
  left: 50px;

}

/* Positioning of Distance input */
.moveDist {
  position: relative;
  left: 25px;
  
}

.move30 {
  position: relative;
  left: 30px;

}

.txtPadding {
  padding-left: 5px;
}

/* Section that contains the gender buttons */
.allGenInput {
  position: relative;
  top: 10px;
}

/* Label for the the gender selection btns */
.genLabel {
  width: 70px;
  height: 35px;
  border: 1px solid #ccc;
  box-shadow: -1px 1px 3px 0.5px #888;
  border-radius: 5px;
  text-align: center;
  position: relative;
  transition: all .15s cubic-bezier(.27,1,1,.9);
}

.genTxt {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 4px;
  right: 3px;
}



.genLabel:hover {
  background: #8eceff;
}

/* Class added by ng-class to indicate selected gen btn */
.genSelected {
  width: 70px;
  height: 35px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 0px;
  border-radius: 5px;
  text-align: center;
  background: #8eceff;
  transition: all .15s cubic-bezier(.27,1,1,.9);
}

/* Gender radio btns that the above are labels for */
.inputGender {
  width: 1px;
  height: 1px;
  opacity: 0;
  
}

/* Section of the gen btns that doesn't include the error span */
.justGenBtns {
  position: relative;
  visibility: visible;
  right: 2px;
}


/* Text for the female label b/c it's longer than male */
.femaleLabel {
  position: relative;
  left: 6px;
}

/* ----------- Output Style ----------- */

/* Text for the output section */
.outputText {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 20px;
  text-align: center;

}

/* Top output section text */
.outputText1 {
  padding-top: 40px;
}

/* Bottom output section text */
.outputText2 {
  padding-top: 55px;
}

/* Inset output section  */
.outputColumn {
  background-color: #c6dcf2;
  -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  border-radius: 10px;

}

.outputMarginPace {
  margin-top: 12%;
}

.outputMarginAge {
  margin-top: 6%;
}

/* Container for whole output section */
.outputCalc {
  padding-bottom: 50px;

}

/* Text inside the output section that labels the output numbers */
.outputInfo {
  text-align: center;
}

/* Text for the output data */
.outputData {
  font-family: "Open Sans";
  font-weight: 500;
  font-size: 24px;
  white-space: pre;
}


/* Output sections inside the output column that display output numbers */
.outputContainer {
  position: relative;
  margin-top: 25px;
  background-color: #fff;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 9px -4px rgba(0,0,0,0.68);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 50%;
  left: 25%;

}

/* ----------- Error Handling Style ----------- */

/* Invisible version of time error div swapped out by by ng-class 
  Protects against margin/padding problems -- 
  Needs to be b4 the visible one in css or doesnt work?*/
.inputTimeErrInvis {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  margin-right: 5px;
  left: 52px;
  padding: 13px 0px 12px 0px;
  border-radius: 5px;
  border: 1px solid #CC0000;
  visibility:collapse;
}

/* Visible version of the time error div shown by ng-class */
.inputTimeErr {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  margin-right: 5px;
  left: 52px;
  padding: 13px 0px 12px 0px;
  border-radius: 5px;
  border: 1px solid #CC0000;
  visibility:visible;
}

/* Making everything inside inputtimeerr visible */
.inputTimeErr > input, .inputTimeErrInvis > input {
  visibility:visible;
}



/* Invisible version of time error div swapped out by by ng-class 
  Protects against margin/padding problems -- 
  Needs to be b4 the visible one in css or doesnt work?*/
.inputFormTopErrInvis {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  padding: 13px 0px 12px 0px;
  border-radius: 5px;
  border: 1px solid #CC0000;
  visibility:collapse;
}

/* Visible version of the time error div shown by ng-class */
.inputFormTopErr {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  padding: 13px 0px 12px 0px;
  padding-right: 0px;
  border-radius: 5px;
  border: 1px solid #CC0000;
  visibility:visible;
}

/* Making everything inside inputtimeerr visible */
.inputFormTopErrInvis > input, .inputFormTopErr > input {
  visibility:visible;
}

/* Font for input text */
.betweenInputTxt {
  font-family: "Helvetica";
  font-weight: 500;
  font-size: 18px;
  visibility:visible;
}

/* Visible version of the gender err div shown by ng-class */
.genCheckErr {
  position: relative;
  left: 32px;
  border: 1px solid #CC0000;
  border-radius: 5px;
  padding: 2px 5px 13px 3px;
  visibility: visible;
}

/* Invisible version of age error div swapped out by by ng-class 
  Protects against margin/padding problems */
.genCheckErrInvis {
  position: relative;
  left: 32px;
  border: 1px solid #CC0000;
  border-radius: 5px;
  padding: 2px 5px 13px 3px;
  visibility: collapse;
}

/* Error div that fades in when any forms are missing data */
.errWarning {
  position: relative;
  left: 65px;
  width: 75%;
  height: 60px;
  background: #ffa0a0;
  text-align: center;
  box-shadow: -2px 2px 7px 2px #888;
  border-radius: 10px;
  visibility: visible;
}

.errWarning > div {
  padding-top: 8px;
}

.errWarningInvis {
  position: relative;
  left: 85px;
  width: 75%;
  height: 60px;
  background: #ffa0a0;
  text-align: center;
  box-shadow: -2px 2px 7px 2px #888;
  border-radius: 10px;
  visibility: collapse; 

}

/* ---------- Sections below the calc ---------- */

.calcInfoSection {
  position: relative;
  z-index: 1;
  background-color: #FFF;
  top: 20px;
  padding: 0px;
  border-radius: 5px;
  -webkit-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  -moz-box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);
  box-shadow: -4px 3px 15px -4px rgba(0,0,0,0.68);

}

.calcInfoPadding {
  padding: 0px 10px 20px 10px;
  bottom: 5px;
  position: relative;
}

.calcInfoAgeHeight {
    height: 100%;
  }

.calcInfoPaceHeight {
  height: 330px;
  
}

.calcInfoBMIHeight {
  height: 425px;
  
}
.calcInfoHeader {
  width: 100%;
  height: 50px;
  border-radius: 5px 5px 0px 0px;
  background: #ff7939;
  background: -moz-linear-gradient(left,  #ff7939 0%, #ff7939 67%, #f9b039 100%);
  background: -webkit-linear-gradient(left,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  background: linear-gradient(to right,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7939', endColorstr='#f9b039',GradientType=1 );
}

.calcInfoTitle {
  position: relative;
  top: 12px;
  color: #FFF;
  text-align: center;
  border: 0px;
  margin: 0px;
}

.calcInfoTitleAge {
  left: 41%;
  width: 200px;

}

.calcInfoTitleBMI {
  left: 42%;
  width: 170px;

}

.calcInfoTitlePace {
  left: 44%;
  width: 130px;

}

.BMItable {
  position: relative;
  left: 42%;
  width: 240px;
  height: 140px;
  padding: 0px 10px 10px 10px;
  border: 1px solid black;
}

.calcInfoTxt {
  position: relative;
  top: 10px;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
}

.calcInfoAd {
  position: relative;
  top: 20px;
  width: 100%;
  height: 150px;
  background-color: #c6dcf2;
  -webkit-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  -moz-box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  box-shadow: inset 0px 0px 9px 1px rgba(0,0,0,0.45);
  border-radius: 10px;
}

.disableAdBlockTxt {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 30px;
  opacity: 0.3;
  text-align: center;
  position: relative;
  top: 50px;

}

.mainFooter {
  background: #ff7939;
  background: -moz-linear-gradient(left,  #ff7939 0%, #ff7939 67%, #f9b039 100%);
  background: -webkit-linear-gradient(left,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  background: linear-gradient(to right,  #ff7939 0%,#ff7939 67%,#f9b039 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7939', endColorstr='#f9b039',GradientType=1 );
  position: relative;
  width: 100%;
  height: 100px;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}


@-moz-document url-prefix() {
  .genTxt {
    right: 12px;
    top: 0px;
    font-size: 13px;
  }
  .genCheckErr {
    padding: 6px 3px 8px 3px;
  }
  .genCheckErrInvis {
    padding: 6px 3px 8px 3px;
  }

  .femaleLabel {
    position: relative;
    left: 5px;
  }

  .moveAge {
    left: 63px;
  }

  .moveDist {
    left: 25px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .outputContainer {
    box-shadow: -4px 3px 9px 0px rgba(0,0,0,0.68);
  }
  a:focus, *:focus {
    noFocusLine: expression(this.onFocus=this.blur());
  }

  a:focus {
    outline: 0;
    outline: none;
  }

  select::-ms-expand{
    border: 0px;
    background-color: white; 
  }
}

@media (min-width:992px) and (max-width:1199px) {

  .calcTitle {
    bottom: 4px;
  }

  .calcOutputAgeHeight {
    height: 383px;
    top: 5px;
  }

  .calcInfoPaceHeight {
    height: 355px;
  }

  .calcInfoTitleAge {
    left: 39%
  }

  .calcInfoTitlePace {
    left: 43%;
  }

  .calcInfoTitleBMI {
    left: 42%;
  }

  .BMItable {
    left: 40%;
  }

}

@media (min-width:762px) and (max-width:991px) {

  .calcTitle {
    bottom: 6px;
  }

  .calcWithOutputPace {
    height: 795px;
  }

  .calcWithOutputAge {
    height: 1015px;
  }

  .calcWithOutputBMI {
    height: 765px;
  }

  .outputMarginPace {
    margin-top: 350px;
  }

  .outputMarginAge {
    margin-top: 58%;
  }

  .container-fluid {
    padding-left: 0px;
  }

  .tabRowLi {
    width: 20%;
    height: 50px;
  }

  .tabRowLiSelect {
    width: 20%;
  }

  .tabText {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }

  .ageGradeTabTxt {
    left: -12%;
  }

  .calcInfoPaceHeight {
    height: 375px;
  }

  .calcInfoBMIHeight {
    height: 450px;
  }

  .calcInfoTitleAge {
    left: 35%
  }

  .calcInfoTitlePace {
    left: 41%;
  }

  .calcInfoTitleBMI {
    left: 38%;
  }

  .BMItable {
    left: 35%;
  }

  .disableAdBlockTxt {
    font-size: 24px;

  }

  @-moz-document url-prefix() {

    .calcWithOutputPace {
      height: 820px;
    }

    .calcWithOutputAge {
      height: 1015px;
    }

    .calcWithOutputBMI {
      height: 765px;
    }
  }
}

@media (min-width:600px) and (max-width:761px) {

  .calcTitle {
  bottom: 6px;
  }

  .calcWithOutputPace {
    height: 820px;
  }

  .calcWithOutputAge {
    height: 1015px;
  }

  .calcWithOutputBMI {
    height: 785px;
  }

  .outputMarginPace {
    margin-top: 350px;
  }

  .outputMarginAge {
    margin-top: 58%;
    padding-bottom: 58%;
  }

  .container-fluid {
    padding-left: 0px;
    background-image: url("/images/seamlessRoad2.png");
  }

  .tabRowLi {
    width: 30%;
    height: 50px;
  }

  .tabRowLiSelect {
    width: 30%;
  }

  .tabText {
    left: 0px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }

  .ageGradeTabTxt {
    left: 8%;
  }
  .paceTabTxt {
    left: 15%;
  }

  .bmiTabTxt {
    left: 18%;
  }

  .calcInfoPaceHeight {
    height: 380px;
  }

  .calcInfoBMIHeight {
    height: 450px;
  }

  .calcInfoTitleAge {
    left: 31%
  }

  .calcInfoTitlePace {
    left: 37%;
  }

  .calcInfoTitleBMI {
    left: 35%;
  }

  .BMItable {
    left: 31%;
  }

  .disableAdBlockTxt {
    font-size: 24px;
  }

  @-moz-document url-prefix() {
    .calcWithOutputAge {
      height: 1025px;
    }
  }
}

@media (min-width:0px) and (max-width:599px) {

  .calcTitle {
  bottom: 6px;
  }

  .allCalcBtns {
    left: 20px;
  }

  .calcButton {
    width: 90%;
  }

  .clearButton {
    width: 30%;
  }

  .calcWithOutputPace {
    height: 880px;
    min-width: 450px;
  }

  .calcWithOutputAge {
    height: 1080px;
    min-width: 450px;
  }

  .calcWithOutputBMI {
    height: 850px;
  }

  .outputMarginPace {
    margin-top: 81%;
  }

  .outputMarginAge {
    margin-top: 92%;
  }

  .calcTitle {
    min-width: 450px;
  }

  .errWarning {
    left: 0px;
    width: 100%;
  }

  .errWarningInvis {
    left: 0px;
    width: 100%;
  }

  .tabRow {
    min-width: 450px;
  }

  .container {
    padding-left: 5px;
  }

  .buttonCalc {
    padding-left: 20px;
  }

  .container-fluid {
    padding-left: 0px;
    min-width: 500px;
    height: 100%;
  }

  #main {
    min-width: 500px;
  }

  .mainHeader {
    min-width: 500px;
  }

  .tabRowLi {
    width: 30%;
    height: 50px;
  }

  .tabRowLiSelect {
    width: 30%;
  }

  .tabText {
    right: 24px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
  }

  .ageGradeTabTxt {
    left: -17%;
  }


  .calcInfoPaceHeight {
    height: 413px;
  }

  .calcInfoBMIHeight {
    height: 495px;
  }

  .calcInfoTitleAge {
    left: 27%
  }

  .calcInfoTitlePace {
    left: 34%;
  }

  .calcInfoTitleBMI {
    left: 31%;
  }

  .BMItable {
    left: 26%;
  }

  .disableAdBlockTxt {
    font-size: 24px;
    top: 40px;
  }

}


/* Animate.css library */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
