.calcTitle {
  bottom: 6px;
}

.calcWithOutputPace {
  height: 820px;
}

.calcWithOutputAge {
  height: 1015px;
}

.calcWithOutputBMI {
  height: 785px;
}

.outputMarginPace {
  margin-top: 350px;
}

.outputMarginAge {
  margin-top: 58%;
  padding-bottom: 58%;
}

.container-fluid {
  padding-left: 0px;
  background-image: url("/images/seamlessRoad2.png");
}

.tabRowLi {
  width: 30%;
  height: 50px;

}

.tabRowLiSelect {
  width: 30%;
}

.tabText {
  left: 0px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
}

.ageGradeTabTxt {
  left: 8%;
}
.paceTabTxt {
  left: 15%;
}

.bmiTabTxt {
  left: 18%;
}


.calcInfoPaceHeight {
  height: 380px;

}

.calcInfoBMIHeight {
  height: 450px;
}

.calcInfoTitleAge {
  left: 31%
}

.calcInfoTitlePace {
  left: 37%;
}

.calcInfoTitleBMI {
  left: 35%;
}

.BMItable {
  left: 31%;
}

.disableAdBlockTxt {
  font-size: 24px;

}

@-moz-document url-prefix() {
  .calcWithOutputAge {
    height: 1025px;
  }
}
