.allCalcBtns {
  left: 20px;
}

.calcButton {
  width: 90%;

}

.clearButton {
    width: 30%;
}

.calcWithOutputPace {
  height: 843px;
  min-width: 450px;
 
}

.calcWithOutputAge {
  height: 1035px;
  min-width: 450px;
}

.calcWithOutputBMI {
  height: 800px;
}

.outputMarginPace {
  margin-top: 81%;
}

.outputMarginAge {
  margin-top: 92%;
}

.calcTitle {
  min-width: 450px;
}

.errWarning {
  left: 0px;
  width: 100%;
}

.errWarningInvis {
  left: 0px;
  width: 100%;
}

.tabRow {
  min-width: 450px;
}

.container {
	padding-left: 5px;
}

.buttonCalc {
  padding-left: 20px;
}

.container-fluid {
	padding-left: 0px;
	min-width: 500px;
  height: 100%;

}

#main {
	min-width: 500px;
}

.mainHeader {
	min-width: 500px;

}

.tabRowLi {
  width: 30%;
  height: 50px;

}

.selected {
  width: 30%;
}

.tabText {
  right: 25px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
 
}

.calcInfoAgeHeight {
  height: 675px;
}

.calcInfoPaceHeight {
  height: 413px;

}

.calcInfoBMIHeight {
  height: 485px;
}

.calcInfoTitleAge {
  left: 27%
}

.calcInfoTitlePace {
  left: 34%;
}

.calcInfoTitleBMI {
  left: 31%;
}

.BMItable {
  left: 26%;
}

.disableAdBlockTxt {
  font-size: 24px;
  top: 40px;
} 


