.allCalcBtns {
  left: 20px;
}

.calcButton {
  width: 90%;

}

.clearButton {
    width: 30%;
}

.calcWithOutputPace {
  
  height: 835px;
  min-width: 450px;
 
}

.calcWithOutputAge {
  height: 995px;
  min-width: 450px;
}


.outputMarginPace {
  margin-top: 81%;
}

.outputMarginAge {
  margin-top: 92%;
}

.calcTitle {
  min-width: 450px;
}

.errWarning {
  left: 0px;
  width: 100%;
}

.errWarningInvis {
  left: 0px;
  width: 100%;
}

.tabRow {
  min-width: 450px;
}

.container {
	padding-left: 13px;
}

.container-fluid {
	padding-left: 0px;
	min-width: 470px;
  background-image: url("/images/runnersunsetmdorg.jpg");
  height: 700px;
  

}

#main {
	min-width: 470px;
}

.mainHeader {
	min-width: 500px;

}

.tabRowLi {
  width: 30%;
  height: 50px;

}


.selected {
  width: 30%;
}

.tabText {
  right: 25px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
 
}

