<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    -->
    <link rel="stylesheet" href="styles/main.css">
    <!--<link rel="stylesheet" media="only screen and (min-width:992px) and (max-width:1199px)" href="styles/main992.css">
    <link rel="stylesheet" media="only screen and (min-width:762px) and (max-width:991px)" href="styles/main762.css">
    <link rel="stylesheet" media="only screen and (min-width:600px) and (max-width:761px)" href="styles/main600.css">
    <link rel="stylesheet" media="only screen and (min-width:0px) and (max-width:599px)" href="styles/main0.css">
    -->
  </head>
  <!-- Main body for the app --> 
  <body ng-app="runnerCalcApp">
    <div class="loadingScreen">
      <div class="loading"></div>
    </div>
    <!-- Title header -->
    <div class="mainHeader header col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="MainTabCtrl">
      <a class="siteTitle">Runner Calculator</a>
      <div class="container navbar-default">
        <div class="navbar-header">
        </div>
      </div>
    </div>
    <!-- Logo container --> 
    <div class="siteTitleContainer">
      <div class="runnerLogo"></div>
    </div>
    <!-- Main form that makes up the background image -->  
    <div class="container-fluid">
      <div class="mainForm container">
      <ul class="nav nav-tabs responsive">
        <!-- Templated nav tabs on top of calc --> 
        <div class="tabRow" ng-controller="MainTabCtrl">
          <main-tab info="paceCalc" ng-click="updateMainTabTwo()" ng-model="mainTabs" class="tabRowLi" ng-class="{ageGrade: 'tabRowLi', pace: 'tabRowLiSelect', bmi: 'tabRowLi'}[mainTabs]"></main-tab>
          <main-tab info="ageGrade" ng-click="updateMainTabOne()" ng-model="mainTabs" class="tabRowLi" ng-class="{ageGrade: 'tabRowLiSelect', pace: 'tabRowLi', bmi: 'tabRowLi'}[mainTabs]"></main-tab>  
          <main-tab info="bmiCalc" ng-click="updateMainTabThree()" ng-model="mainTabs" class="tabRowLi" ng-class="{ageGrade: 'tabRowLi', pace: 'tabRowLi', bmi: 'tabRowLiSelect'}[mainTabs]"></main-tab>
        </div>
      </ul>
      </div>
      <!-- Container for the calculator template injection --> 
      <div class="container">
      <div ng-view="" class="viewSwitch"></div>
      </div>
      <!-- Footer --> 
      <div class="mainFooter">
      </div>
    </div>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    <!--
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-touch.js"></script>
    -->
    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/services.js"></script>
    <script src="scripts/controllers/directives.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
      hideScreen();
    </script>
 
</body>
</html>
