<calc-title-section></calc-title-section>
<section class="calcWithOutputAge col-lg-12 col-md-12">
	<div class="calcInstructions fontForText col-lg-12 col-md-12">
		<p>
			This calculator finds your age-graded running time and percent. To calculate, fill out the <strong>age</strong>, <strong>distance</strong>, running <strong>time</strong>, and <strong>gender</strong> forms below.
		</p>
		<p>
	      Press the <strong>Calculate</strong> button to get your result
	    </p>
	   
	</div>
	<calc-section></calc-section>
	<div class="outputMarginAge">
		<calc-output-section></calc-output-section>
	</div>
</section> 
