<calc-title-section></calc-title-section>
<section class="calcWithOutputAge col-lg-12 col-md-12">
	<div class="calcInstructions fontForText col-lg-12 col-md-12">
		<p>
			This calculator finds your age-graded running time and percent. To calculate, fill out the <strong>age</strong>, <strong>distance</strong>, running <strong>time</strong>, and <strong>gender</strong> forms below.
		</p>
		<p>
	      Press the <strong>Calculate</strong> button to get your result
	    </p>
	   
	</div>
	<calc-section></calc-section>
	<div class="outputMarginAge">
		<calc-output-section></calc-output-section>
	</div>
</section>
<div class="calcInfoSection calcInfoAgeHeight outputColumn col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="calcInfoHeader">
		<div class="calcInfoTitle calcInfoTitleAge fontForText">What is Age-Grading?</div>
	</div>
	<div class="calcInfoPadding">
		<p class="calcInfoTxt">&nbsp; &nbsp; Age-grading is a way to put all runners on an equal playing field when judging their time. When you fill in the forms above, the calculator takes your input time and compares it to a number <strong>close to</strong> the world record for your age, gender, and event. Your <strong>Age-Graded Time</strong> is your time multiplied by a number that represents the normal slowdown that runners experience as they age, giving you a result that estimates what time you might be running if you were between the ages of 20-28. For example, if you are age 35, your time will be multiplied by ~0.98 to put you on the same level as those between the ages of 20-28. Age-grading is useful for races and tournaments, where the times of runners of all different ages and genders can be compared.
		</p>
		<p class="calcInfoTxt">&nbsp; &nbsp;Your <strong>Age-Graded Percent</strong> shows you how close your time is to the world record estimate, reported in percentage. For example, if your age-graded percent is 50%, that means your time is about 50% as fast as the world record. In other words, you'd have to run about twice as fast to be in the world record range.
		</p>

		<div class="calcInfoAd">
			<p class="disableAdBlockTxt">
				Please white list us from your ad blocker to support this site
			</p>
		</div>
	</div>
</div>


