<calc-title-section></calc-title-section>
<section class="calcWithOutputBMI col-lg-12 col-md-12">
	<div class="calcInstructions fontForText col-lg-12 col-md-12">
	    <p>
	      This calculator finds out your <strong>BMI</strong> when you fill in your <strong>weight</strong> and <strong>height</strong>. It can take use either US standard units (lb/in) or metric (kg/cm) for the input.
	    </p>
	    <p>
	      Press the <strong>Calculate</strong> button to get your result
	    </p>
	</div>
	<div class="buttonCalc container col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-keypress="enterPress($event)">
		<br>
		<!-- First row of input forms -->
		<div class="row">
			<!-- Top left input form -->
		    <span class="fontForText">{{calcInfo.inputFormTop}}:</span>
		    <span class="{{calcInfo.inputFormTopClass}}">
		    	<!-- US / Metric radio btns -->
				<input type="text" class="form-control inline inputFormTop" ng-class="{true: 'form-control inline inputTime formErr', false: 'form-control inline inputTime'}[updateInputFormTop()]" maxlength="3" ng-model="inputFormTop">
				<span class="fontForText txtPadding">{{calcInfo.inputFormTopTxt}}</span>
				<span class="justGenBtns moveDist">
		          	<label class="genLabel" ng-class="{false: 'genLabel fontForText', US: 'genSelected fontForText animated bounceIn', Metric: 'genLabel fontForText'}[unitCheck]">
			            <input type="radio" class="inputGender" ng-model="unitCheck" value="US" ng-change="updateUnitCheck()">
			            <span class="genTxt">US</span>
		          	</label>
		          	<label class="femaleLabel genLabel" ng-class="{false: 'genLabel fontForText', US: 'genLabel fontForText', Metric: 'genSelected fontForText animated bounceIn'}[unitCheck]">
			            <input type="radio" class="inputGender" ng-model="unitCheck" value="Metric" ng-change="updateUnitCheck()">
			            <span class="genTxt">Metric</span>
	          		</label>
				</span>
			</span>
		</div>
		<br>
		<!-- Second row of input forms --> 
		<div class="row">
			<!-- Height input forms-->
			<span class="fontForText">{{calcInfo.inputFormBot}}:</span>
			<span class="moveHeight1">
				<input type="text" class="form-control inline inputFormTop" ng-class="{true: 'form-control inline inputTime formErr', false: 'form-control inline inputTime'}[updateInputFormBot()]" maxlength="3" ng-model="inputFormBot">
				<span class="fontForText txtPadding">{{calcInfo.inputFormBotTxt}}</span>
			</span>
			
			<span class="moveHeight2" ng-class="{US: 'moveHeight2', Metric: 'moveHeight2 hideElement'}[unitCheck]">
				<input type="text" class="form-control inline inputFormTop" ng-class="{true: 'form-control inline inputTime formErr', false: 'form-control inline inputTime'}[updateInputFormBot2()]" maxlength="3" ng-model="inputFormBot2">
				<span class="fontForText txtPadding">inches</span>
			</span>
			<!-- Calculate & clear buttons --> 
			<div class="allCalcBtns">
			    <div class="calcBtnHoverSpan" ng-mouseover="updateBtnDisabled()">
			    </div>
			    <div>
			      <input ng-click="calcButton()" type="button" class="calcButton fontForText" value="Calculate" ng-disabled="calcBtnDisabled">
			    </div>
			    <div>
			      <input ng-click="clearButton()" type="button" class="clearButton fontForText" value="Clear">
			    </div>
			</div>
			<!-- Error warning div that appears at bottom of calculator -->
			<div class="errWarning fontForText" ng-class="{true: 'errWarning fontForText', false: 'errWarningInvis fontForText'}[errWarning]" ng-model="errWarning">
			    <div>{{calcInfo.errWarningTxt}}</div>
			</div>
		</div>
	</div>
	<div class="outputMarginPace">
		<calc-output-section></calc-output-section>
	</div>
</section>
<div class="calcInfoSection calcInfoBMIHeight outputColumn col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="calcInfoHeader">
		<div class="calcInfoTitle calcInfoTitleBMI fontForText">What is your BMI?</div>
	</div>
	<div class="calcInfoPadding">
		<p class="calcInfoTxt">&nbsp; &nbsp; Your <strong>BMI</strong> or <strong>Body Mass Index</strong> is a value intended to give you an idea of what a normal weight should be for your height, and whether you fall in that normal range or not. BMI is calculated by dividing your mass (weight) by your height squared. 
		</p>
		<div class="calcInfoTxt BMItable">
			<p></p>
			<p>
			<strong>Below 18.5</strong> = Underweight
			</p>
			<p>
			<strong>18.5 - 24.9</strong> = Normal
			</p>
			<p>
			<strong>25 - 29.9</strong> = Overweight
			</p>
			<p>
			<strong>30.0+</strong> = Obese
			</p>
		</div>
		<p class="calcInfoTxt">
		</p>

		<div class="calcInfoAd">
			<p class="disableAdBlockTxt">
				Please white list us from your ad blocker to support this site
			</p>
		</div>
	</div>
</div>