<calc-title-section></calc-title-section>
<section class="calcWithOutputPace col-lg-12 col-md-12">
	<div class="calcInstructions fontForText col-lg-12 col-md-12">
	    <p>
	      This calculator finds out your <strong>BMI</strong> when you fill in your <strong>weight</strong> and <strong>height</strong>. It can take use either US standard units (lb/in) or metric (kg/m) for the input.
	    </p>
	    <p>
	      Press the <strong>Calculate</strong> button to get your result
	    </p>
	</div>

</section>