<div class="calcTitle col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
    </div>
    <div class="page-header col-lg-4 col-md-4 col-sm-4 col-xs-4 fontForText">
      <span class="calcHeadTxt">{{calcTitleInfo.title}}</span>
    </div>
      <!-- 
      <div class="socialMedia col-lg-4 col-md-4 hidden-sm hidden-xs">
        <a><span class="fontForText" id="shareText">SHARE</span><img src="/images/share46.png" alt="" width="24" height="24">
        </a>
      </div>
      -->
</div>