<div class="calcMain">
  <div class="calcTitle col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
      </div>
      <div class="page-header col-lg-4 col-md-4 col-sm-4 col-xs-4 fontForText">
        <span class="calcHeadTxt">Age-Graded Calculator</span>
      </div>
  </div>
  <section class="calcWithOutput col-lg-12 col-md-12">
    <div class="buttonCalc container col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <br>
      <div class="row">
        <span class="fontForText">Age:</span>
        <span class="moveAge">
          <input type="text" class="form-control inline inputFormTop" ng-class="{true: 'form-control inline inputFormTop formErr', false: 'form-control inline inputFormTop'}[updateInputFormTop()]" maxlength="2" ng-model="inputFormTop">
        </span>
      </div>
        <p></p>
      <div class="row">
        <span class="fontForText">Distance:</span>
        <span class="move2">
          <select ng-class="{true: 'form-control inline formErr', false: 'form-control inline'}[updateInputDist()]" ng-model="inputDist" ng-options="run.distance as run.title for run in list"></select>
        </span>
        <p></p>
      </div>

      <div class="allTimeInput row">
          <span class="fontForText">Time:</span>
          <span class="inputTimeErrInvis" ng-class="{true: 'inputTimeErr', false: 'inputTimeErrInvis'}[inputTimeErr]" ng-model="inputTimeErr">
            
            <input ng-change="updateInputTime(inputTime1)" ng-model="inputTime1" ng-focus="timeInput1Focus()" ng-blur="timeInput1Blur()" type="text" class="form-control inline inputTime" maxlength="2">
            <span class="betweenInputTxt">:</span>
            <input ng-change="updateInputTime(inputTime2)" ng-model="inputTime2" ng-focus="timeInput2Focus()" ng-blur="timeInput2Blur()" type="text" class="form-control inline inputTime" maxlength="2">
            <span class="betweenInputTxt">:</span>
            <input ng-change="updateInputTime(inputTime3)" ng-model="inputTime3" ng-focus="timeInput3Focus()" ng-blur="timeInput3Blur()" type="text" class="form-control inline inputTime" maxlength="2">
          </span>
          <!-- <span class="labelTimeFormat">hh:mm:ss</span> -->
      </div>

      <div class="allGenInput row">
      <span class="fontForText">Gender:</span>
        <!-- class swap with jquery not angular -->
        <span class="genCheckErrID genCheckErrInvis">
          <span class="justGenBtns">
            <span>
              <label class="genLabel" ng-class="{false: 'genLabel fontForText', Male: 'genSelected fontForText animated bounceIn', Female: 'genLabel fontForText'}[genCheck]">
                <input type="radio" class="inputGender" ng-change="updateGenCheck(maleCheck)" ng-model="genCheck" value="Male">
                <span class="fontForText">Male</span>
              </label>
            </span>
            <span>
              <label class="femaleLabel genLabel" ng-class="{false: 'genLabel fontForText', Male: 'genLabel fontForText', Female: 'genSelected fontForText animated bounceIn'}[genCheck]">
                <input type="radio" class="inputGender" ng-change="updateGenCheck(femaleCheck)" ng-model="genCheck" value="Female">
                <span class="fontForText">Female</span>
              </label>
            </span>
          </span>
        </span>
      </div>

      <div class="allCalcBtns">
        <div class="calcBtnHoverSpan" ng-mouseover="updateBtnDisabled()">
        </div>
        <div class="row">
          <input ng-click="calcButton()" type="button" class="calcButton fontForText" value="Calculate" ng-disabled="calcBtnDisabled">
        </div>
        <div class="row">
          <input ng-click="clearButton()" type="button" class="clearButton fontForText" value="Clear">
        </div>
      </div>

      <div class="errWarning fontForText"> <!-- hidden w/ jquery not angular-->
        <div>{{calcInfo.errWarningTxt}}</div>
      </div>
    </div>
  
    <section class="outputColumn col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="outputCalc"> <!-- hidden w/ jquery not angular-->
        <div class="outputInfo">
          <h4 class="outputText1 outputText">Your age-graded time</h4>
          <div class="outputContainer">
            <span class="outputData">{{outputAgeGrade}}</span>
            <input type="text" class="form-control fontForText ng-hide" maxlength="2" ng-model="outputAgeGrade" readonly type="text" >
          </div>
        </div>
        <div class="outputInfo">
          <h4 class="outputText2 outputText">Your age-graded percent</h4>
          <div class="outputContainer">
            <span class="outputData">{{outputAgePercent}}</span>
            <input type="text" class="form-control fontForText ng-hide" maxlength="2" ng-model="outputAgePercent" readonly type="text" >
          </div>
        </div>
    </div>
    </section>

  </section>

  <section>
    <label class="stackButton" for="hideTextCheck" >
      <input type="checkbox" class="hideCalcRadio" ng-model="hideTextCheck" ng-click="stackButton()">
    </label>
    <div ng-class="{true: 'calcTextLeft col-lg-6 col-md-6 col-sm-12 col-xs-12 animated slideOutUp', false: 'calcTextLeft col-lg-6 col-md-6 col-sm-12 col-xs-12 animated slideInDown', Static: 'calcTextLeft col-lg-6 col-md-6 col-sm-12 col-xs-12'}[hideTextCheck]">
      
      <div class="collapse in">
        <h4>
          What is Age-Grading?
        </h4>
        <p>
          Age-grading is a method that runners use to compare their times with other runners of any age or gender. 
        </p>
        <p>
          It's just a fact that as we age into our mid to late 30's and beyond, our running times (as a group) slow down. This isn't necessarily the case for individuals, who can definitely improve upon their times from younger days. But in groups of scores, these differences begin to show up more clearly. Sometimes this normal slowdown can demoralize runners who might see it as an indication of a drop in performance or skill. Age-grading helps give runners a better idea of what a normal rate of slowing down might be for them as they age so that they can focus on improving their times. Age-grading is also used to put all different kinds of runners on a more level playing field by adjusting the runner's time by a rate appropriate for their age and gender, similar to a golf handicap.
        </p>
        <h4>
          How does it work?
        </h4>
        <p>
          "Age grading systems quantify exactly where you stand relative to the predicted all-time best for all runners of your age." - RunnersConnect.com
          <br>
          <br>
          What that quote means is that when you age grade your score, you are dividing it by a time that is <i>close to</i> the world record for your age and running event. The result of this division is a running time that equalizes the differences between groups by using the world record setters as a benchmark of the rate at which people slow down as they age. This benchmark is useful because it gives a rough indication of how runners slow as they age, but because it's only a rough estimation it should not be taken as an objective measure of running performance.
        </p>
        <h4>What use is age-grading for me?</h4>
        <p>
          Many runners use age-grading as a way to compare their times with other runners regardless of their age or gender. Age-grading controls for differences in male and female times as well, so you can compare your times with literally anyone over the age of 5 and under the age of 100. 
          <br>
          Some aging runners who have been enjoyed the sport for many years notice a slow down of their times, which can sometimes be demoralizing when it really shouldn't be. Age-grading can show runners that a slower time doesn't necessarily point to worse performance or technique, but instead just normal aging processes. 
          <br>
        </p>

      </div>
    </div>
  </section>


  <section class="dataAnalysis col-lg-6 col-md-6 col-sm-12 col-xs-12">
  </section>

  <section class="dataAnalysis col-lg-6 col-md-6 col-sm-12 col-xs-12">
  </section>

  <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>is licensed by<a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->


</div>


<div class="row marketing">
  <h4></h4>
</div>