<div class="ageGradeMain">
  <div class="row ageGradeTitle col-lg-12">
      <div class="col-md-4">
        <label class="stackButton" for="hideTextCheck" >
          <input type="checkbox" class="hideAgeGradeRadio" ng-model="hideTextCheck" id="hideTextCheck" ng-click="stackButton()">
        </label>
      </div>
      <div class="page-header col-md-4 fontForText">Age-Graded Calculator</div>
      <div class="socialMedia col-md-4">
        <a><span class="fontForText" id="shareText">SHARE</span><img src="/images/share46.png" alt="" width="24" height="24">
        </a>
        <input class="debugBtn" type="button" value="debug" ng-click="debugButton()">
      </div>
  </div>

  <div ng-class="{true: 'ageGradeTextLeft col-md-4 animated bounceOutUp', false: 'ageGradeTextLeft col-md-4 animated bounceInDown', Static: 'ageGradeTextLeft col-md-4'}[hideTextCheck]">
    
    <div>
      <h4>
        What is Age-Grading?
      </h4>
      <p>
        Age-grading is a method that runners use to compare their times with other runners across all ages. 
      </p>
      <p>
        It's just a fact that as we age into our mid to late 30's and beyond, our running times (as a group) slow down. This isn't necessarily the case for individuals, who can definitely improve upon their times from younger days. But in groups of scores, these differences begin to be more clear. For example, if a 21 year old and a 71 year old both ran a 10k in an hour, it wouldn't make much sense to say that they performed on the same level. That's why age-grading is used to <i>more</i> fairly compare times between age groups. 
      </p>
      <h4>
        How does it work?
      </h4>
      <p>
        "Age grading systems quantify exactly where you stand relative to the predicted all-time best for all runners of your age." - RunnersConnect.com
        <br>
        <br>
        What that quote means is that when you age grade your score, you are dividing it by a time that is <i>close to</i> the world record for your age and running event. The result of this division is a running time that equalizes the differences between age groups by using the world record setters as a benchmark of the rate at which people slow down as they age. It's certainly not a perfect measure, but it gives runners a better idea of what a normal rate of slowing down might be for them.
        <br>
      </p>
      <h4>What use is age-grading for me?</h4>
      <p>
        Many runners use age-grading as a way to compare their times with other runners regardless of their age or gender (yes, age-grading controls for differences in male and female times as well!). 
        <br>
        Some aging runners who have been enjoyed the sport for many years notice a slow down of their times, which can sometimes be demoralizing when it really shouldn't be. Age-grading can show runners that a slower time doesn't necessarily point to worse performance or technique, but instead normal aging processes that can't be helped. 
        <br>
      </p>
    </div>
  </div>
  

  

  <div class="ageGradeCalc container col-md-4">
    <br>
    <div class="row">
      <span class="fontForText">Age:</span>
      <span id="move1">
        <input type="text" class="form-control inline" ng-class="{true: 'form-control inline formErr', false: 'form-control inline'}[updateInputAge()]" id="inputAge" maxlength="2" ng-model="inputAge">
      </span>
    </div>
      <p></p>
    <div class="row">
      <span class="fontForText">Event:</span>
      <span id="move2">
        <select ng-class="{true: 'form-control inline formErr', false: 'form-control inline'}[updateInputDist()]" ng-model="inputDist" ng-options="run.Event as run.Title for run in list"></select>
      </span>
      <p></p>
    </div>
    <div class="allTimeInput row">
      
        <span class="fontForText">Time:</span>
        <span class="inputTimeErrInvis" ng-class="{true: 'inputTimeErr', false: 'inputTimeErrInvis'}[inputTimeErr]" ng-model="inputTimeErr">
          
          <input ng-change="updateInputTime(inputTime1)" ng-model="inputTime1" ng-focus="timeInput1Focus()" ng-blur="timeInput1Blur()" type="text" class="form-control inline" id="inputTime1" maxlength="2">
          <span>:</span>
          <input ng-change="updateInputTime(inputTime2)" ng-model="inputTime2" ng-focus="timeInput2Focus()" ng-blur="timeInput2Blur()" type="text" class="form-control inline" id="inputTime2" maxlength="2">
          <span>:</span>
          <input ng-change="updateInputTime(inputTime3)" ng-model="inputTime3" ng-focus="timeInput3Focus()" ng-blur="timeInput3Blur()" type="text" class="form-control inline" id="inputTime3" maxlength="2">
        </span>
        <span class="labelTimeFormat">hh:mm:ss</span>
        
    </div>

    <div class="allGenInput row">
    <span class="fontForText">Gender:</span>
      <span class="" ng-class="{'genCheckErr' : genCheckErr, 'genCheckErrInvis' : !genCheckErr}">
        <span class="justGenBtns">
          <span>
            <label class="genLabel" ng-class="{false: 'genLabel', Male: 'genSelected animated bounceIn', Female: 'genLabel'}[genCheck]">
              <input type="radio" class="inputGender" ng-change="updateGenCheck(maleCheck)" ng-model="genCheck" value="Male" id="maleCheck">
              <span class="fontForText" id="genBtnTextM">Male</span>
            </label>
          </span>
          <span>
            <label class="genLabel" ng-class="{false: 'genLabel', Male: 'genLabel', Female: 'genSelected animated bounceIn'}[genCheck]">
              <input type="radio" class="inputGender" ng-change="updateGenCheck(femaleCheck)" ng-model="genCheck" value="Female" id="femaleCheck">
              <span class="fontForText" id="genBtnTextF">Female</span>
            </label>
          </span>
        </span>
      </span>
    </div>
    
    <!--
    <div class="row">
      <p></p>
      <span class="labelText">Gender:</span>
        <div class="btn-group">
          <div ng-class="{'genCheckErr' : genCheckErr, 'genCheckErrInvis' : !genCheckErr}" ng-model="yo">
            <label class="genLabel" for="maleCheck" ng-class="{Male: 'genSelected', Female: 'genLabel'}[genCheck]"><img src="/images/male154.png" alt="♂" width="32" height="32">
                <input type="radio" class="inputGender" ng-change="updateGenCheck(maleCheck)" ng-model="genCheck" value="Male" id="maleCheck"/>
            </label>
            <label class="genLabel" for="femaleCheck" ng-class="{Male: 'genLabel', Female: 'genSelected'}[genCheck]"><img src="/images/female128.png" alt="♀" width="32" height="32">
                <input type="radio" class="inputGender" ng-change="updateGenCheck(femaleCheck)" ng-model = "genCheck" value="Female" id="femaleCheck"/>
            </label>
          </div>
        </div>

        ng-class="{Male: 'genLabel', Female: 'genSelected animated rubberBand'}[genCheck]"
    </div>
    -->

    <div class="allCalcBtns">
      <div class="calcBtnHoverSpan" ng-mouseover="updateBtnDisabled()">
      </div>
        <div class="row">
          <input ng-click="calcButton()" type="button" class="calcButton fontForText" value="Calculate" ng-disabled="calcBtnDisabled">
        </div>
      
      <div class="row">
        <input ng-click="clearButton()" type="button" class="clearButton fontForText" value="Clear">
      </div>
    </div>

    <div class="errWarning fontForText">
      <span>Oops! You're missing some info in the fields above</span>
    </div>

    <span class="outputAgeGrade">
      <br>
        <h4>Your-age graded time is: {{outputAgeGrade}}</h4>
        <input type="text" class="form-control ng-hide" maxlength="2" ng-model="outputAgeGrade">
        <br>
        <h4>Your-age graded percent is: {{outputAgePercent}}</h4>
        <input type="text" class="form-control ng-hide" maxlength="2" ng-model="outputAgePercent">
      <br>
    </span>

  </div>


  <div class="col-md-4">
    
  </div>

</div>


<div class="row marketing">
  <h4></h4>
</div>
