<calc-title-section></calc-title-section>
<section class="calcWithOutputPace col-lg-12 col-md-12">
	<div class="calcInstructions fontForText col-lg-12 col-md-12">
	    <p>
	      This calculator takes in two pieces of information and finds the third. For example, to calculate your <strong>pace</strong>, you would enter the <strong>distance</strong> you ran and the <strong>time</strong> it took you to run it, while leaving the pace field empty. You can calculate distance or time in the same way.
	    </p>
	    <p>
	      Press the <strong>Calculate</strong> button to get your result
	    </p>
	</div>
	<calc-section></calc-section>
	<div class="outputMarginPace">
		<calc-output-section></calc-output-section>
	</div>
</section>
<div class="calcInfoSection calcInfoPaceHeight outputColumn col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="calcInfoHeader">
		<div class="calcInfoTitle calcInfoTitlePace fontForText">What is pace?</div>
	</div>
	<div class="calcInfoPadding">
		<p class="calcInfoTxt"> &nbsp; &nbsp; Running pace is the number of minutes that it takes to cover a mile or kilometer. Finding your pace is useful for completing a running event in a desired time frame. For example, if your pace is 10 minutes per mile, you'll know that your marathon time will be about 4.2 hours.
		</p>
		<p class="calcInfoTxt">
			&nbsp; &nbsp; Pace is also useful for training purposes. Running at different paces can offer different forms of running exercise, from walking pace to sprinting pace.
		</p>

		<div class="calcInfoAd">
			<p class="disableAdBlockTxt">
				Please white list us from your ad blocker to support this site
			</p>
		</div>
	</div>
</div>

