<calc-title-section></calc-title-section>
<section class="calcWithOutputPace col-lg-12 col-md-12">
	<div class="calcInstructions fontForText col-lg-12 col-md-12">
	    <p>
	      This calculator takes in two pieces of information and finds the third. For example, to calculate your <strong>pace</strong>, you would enter the <strong>distance</strong> you ran and the <strong>time</strong> it took you to run it, while leaving the pace field empty. You can calculate distance or time in the same way.
	    </p>
	    <p>
	      Press the <strong>Calculate</strong> button to get your result
	    </p>
	</div>
	<calc-section></calc-section>
	<div class="outputMarginPace">
		<calc-output-section></calc-output-section>
	</div>
</section>

