<calc-title-section></calc-title-section>
<section class="calcWithOutputPace col-lg-12 col-md-12">
	<p class="paceInstruction">
			Please fill in two of the options in the fields below and the calculator will find the third
	</p>
	<div class="calcInstructions fontForText col-lg-12 col-md-12">
	    <p>
	      To calculate your <strong>pace</strong>, you can enter the <strong>distance</strong> you ran and the <strong>time</strong> it took you to run it, while leaving the pace field empty. You can calculate distance or time by filling in the other two forms in the same way.
	    </p>
	    <p>
	      Press the <strong>Calculate</strong> button to get your result
	    </p>
	</div>
	<calc-section></calc-section>
	<div class="outputMarginPace">
		<calc-output-section></calc-output-section>
	</div>
</section>
<div class="calcInfoSection calcInfoPaceHeight outputColumn col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<div class="calcInfoHeader">
		<div class="calcInfoTitle fontForText">Tracking your pace can help you perform better</div>
	</div>
	<div class="calcInfoPadding">
		<p class="calcInfoTxt"> &nbsp; &nbsp; &nbsp; &nbsp; Keeping control of your pace during a run is an important factor in getting the best time you can. Going too fast in the beginning can tire you out, slowing down your times in the later sections.
		</p>
		<p class="calcInfoTxt"> &nbsp; &nbsp; &nbsp; &nbsp; Using the 
		</p>
		<p class="calcInfoTxt">
			&nbsp; &nbsp; Pace is also useful for training purposes. Running at different paces can offer different forms of running exercise, from walking pace to sprinting pace.
		</p>
	</div>
	<div class="calcInfoPadding">
		<div class="calcInfoAd">
			<p class="disableAdBlockTxt">
				Please white list us from your ad blocker to support this site
			</p>
		</div>
	</div>
</div>

